div{
    height: 250px;
    width: 250px;
    background-color: red;
    transition: 5s;
}

div:hover{
    height: 450px;
    width: 450px;
    background-color:black;
    transform: translateY(300px);
}